@font-face {
    font-family: interFont;
    src: url(assets/inter-font/Inter-VariableFont_slnt\,wght.ttf);
  }

.wrapper {
    margin: 0 auto;
    width: 80%;
}

body {
    margin: 0px;
    padding: 0px;

}

nav {
    background-color: #D3D7DC;
    
}

.nav-section {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: left;

}
.main-nav{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
}
.nav-btn{
    margin: 10px;
    border: none;
    background-color: #D3D7DC;
    padding: 10px;
    font-size: 15px;
    font-family: interFont;
    

}

.nav-btn:hover {
    transition-delay:1ms;
    background-color: lightgray;
}

.nav-style {
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
    padding: 5px;

}

.nav-signin{
    padding-top:10px;
}

.center {
    display:flex;
    justify-content: center;

}

#cta-btn {
    background-color: #25995C;
    margin: 10px;
    border: none;
    padding: 10px 40px;
    font-size: 15px;
    font-family: interFont;
    color: white;
    border-radius: 10px;
}

.extra-top-padding {
    padding-top: 30px;

}

.nav-logo {
    padding-top: 10px;
}

.entry-li-style {
    text-decoration: none;
    list-style:none;
}

.entry-style {
    background-color: #dfeff3;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.entry-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.entry-info {
    width:200px;
}

.entry-activity-list {
    padding:0px;
}

.entry-activity-list-li {
    display:inline;
    padding-left: 5px;
}
