@font-face {
    font-family: interFont;
    src: url(assets/inter-font/Inter-VariableFont_slnt\,wght.ttf);
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.chart-container{
    width: 40rem;
    padding: auto;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

body {
    margin: 0px;
    padding: 0px;

}

nav {
    background-color: #D3D7DC;
    
}

.nav-section {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: left;

}
.main-nav{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
}
.nav-btn{
    margin: 10px;
    border: none;
    background-color: #D3D7DC;
    padding: 10px;
    font-size: 15px;
    font-family: interFont;
    

}

.nav-btn:hover {
    transition-delay:1ms;
    background-color: lightgray;
}

.nav-style {
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
    padding: 5px;

}

.nav-signin{
    padding-top:10px;
}

.center {
    display:flex;
    justify-content: center;

}

#cta-btn {
    background-color: #25995C;
    margin: 10px;
    border: none;
    padding: 10px 40px;
    font-size: 15px;
    font-family: interFont;
    color: white;
    border-radius: 10px;
}

.extra-top-padding {
    padding-top: 30px;

}

.nav-logo {
    padding-top: 10px;
}

.entry-li-style {
    list-style:none;
}

.entry-style {
    background-color: #dfeff3;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.entry-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.entry-info {
    width:200px;
}

.entry-activity-list {
    padding:0px;
}

.entry-activity-list-li {
    display:inline;
    padding-left: 5px;
}

.activity-list {
    display: inline-block;
}

.inputHolder {
    font-family: interFont;
    font-size: 14px;
    margin: 25px;
}

.interFont {
    font-family: interFont;
}

.datePicker {
    padding: 5px;
    margin: 10px 0px;
}

.textInput {
    margin: 10px 0px;
}

.p-label-style {
    margin:  5px 0px;
}

.addActivity-style {
    display: flex;
    flex-direction: row;

}

.editNewForm {
    padding: 15px;
    border-radius: 30px;
    box-shadow: -0px 0px 20px 5px rgba(0,0,0,0.45),
    25px 0px 20px -20px rgba(0,0,0,0.45),
    0px 25px 20px -20px rgba(0,0,0,0.45),
    -25px 0px 20px -20px rgba(0,0,0,0.45);
}

.primary-btn {
    background-color: #25995C;
    margin: 10px;
    border: none;
    padding: 10px 40px;
    font-size: 15px;
    font-family: interFont;
    color: white;
    border-radius: 10px;
}

.journal-style {
    resize: none;
    width: 80%;
    margin: 10px 5px;
    padding: 12px;
    border-radius: 4px;
    background-color: #f8f8f8;
    height: 150px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
  }
  
  td, th {
    border: 1px solid #dfeff3;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dfeff3;
  }

.div-center {
    margin: auto;
    width: 90%;
}

.text-center {
    text-align: center;
}

#checkinLabel {
    margin: 20px 25px;
}

.input-style {
    padding: 5px;
    margin: 0 5px;
}

.secondary-btn {
    background-color: #25995C;
    margin: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    font-family: interFont;
    color: white;
    border-radius: 10px;
}


/* Hide radio */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Image style */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* Checked style */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #25995C;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }